<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('Player Create')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<div class="container">
    <h1>Create Player Page</h1>
    <div class="row">
        <div class="col-12">
            <form th:action="@{/student/create}" th:method="post" th:object="${student}">
                <label for="name">name:</label>
                <input type="text" id="name" th:field="*{name}">
                <input type="submit" />
            </form>

        </div>
    </div>
</div>



</body>
</html>