<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/partials :: head('Player Create')" />
<body>
<nav th:replace="fragments/partials :: navbar" />
<div class="container">
    <h1>Create Player Page</h1>
    <div class="row">
        <div class="col-12">
            <form th:action="@{/player/create}" th:method="post" th:object="${player}">
                <label class="form-label">username:</label>
                <input class="form-control" th:field="*{username}" />
                <label class="form-label">password:</label>
                <input class="form-control" th:field="*{password}" />
                <label class="form-label">email:</label>
                <input class="form-control" th:field="*{email}" />
                <label class="form-label">First Name:</label>
                <input class="form-control" th:field="*{firstName}" />
                <label class="form-label">Last Name:</label>
                <input class="form-control" th:field="*{lastName}" />



                <input type="submit" />
            </form>

        </div>
    </div>
</div>



</body>
</html>